<% provide(:title, "#{@movie.title} (#{@movie.year})") %>
<h1><%= "#{@movie.title} (#{@movie.year})" %></h1>

<div class="row-fluid">
	<div class="span6">
		<%= image_tag(@movie.image_url, { class: 'img-polaroid', width: '350', alt: @movie.title }) %>
	</div>
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>Title</dt>
			<dd><%= @movie.title %></dd>
			
		<% if @movie.original_title != "" %>
			<dt>Original Title</dt>
			<dd><%= @movie.original_title %></dd>
		<% end %>
			
			<dt>Year</dt>
			<dd><%= @movie.year %></dd>
			
			<dt>Rating</dt>
			<dd><%= number_with_precision(@movie.rating, :precision => 1) %></dd>
		
			<dt>Genre</dt>
			<dd><%= @movie.genre %></dd>
			
			<dt>IMDb URL</dt>
			<dd><%= link_to(@movie.imdb_url, @movie.imdb_url, target: "_blank") %></a></dd>
			
			<dt>Image URL</dt>
			<dd><%= truncate(@movie.image_url, :length => 40)  %></dd>
			
		<% if @movie.resolution != "" %>
			<dt>Resolution</dt>
			<dd><%= @movie.resolution %></dd>
		<% end %>
			
		<% if @movie.storage != "" %>
			<dt>Storage</dt>
			<dd><%= @movie.storage %></dd>
		<% end %>
			
			<dt>Watched</dt>
			<dd><%= check_box_tag '', '', @movie.watched, disabled: true %></dd>			
		</dl>
		<%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-large btn-primary" %>
	</div>
</div>
